.remark-date{
    margin: 0 !important;
    font-style: 0.75rem !important;
    line-height: 1.25 !important;
    letter-spacing: 0.0333em !important;
    text-transform: none !important;
    vertical-align: unset !important;
    text-decoration: none !important;
    color: rgb(241 41 78) !important;
    font-weight: 500 !important;
}